main{
    width: 60%;
    margin: 40px auto;
    text-align: center;
    border: 1px solid #ccc;
    font-family: tahoma;
    p{ 
        margin-top: 20px;
        font-family: tahoma;
    }
    section{
        margin-top: 20px;
        div{
            margin: 10px;
        }
    }
    input{
        width: 70%;
        height: 30px;
    }
    button{
        margin-top: 20px;
    }
}