header {
    width: 100%;
    background-color: #ccc;
    margin: 50px;
    height: 2rem;
    h1{
        text-align: center;
        font-family: tahoma;
        padding-top: 4px;
        color: rgb(253, 251, 251);
    }
}